{
    "printWidth": 120,
    "singleQuote": true,
    "bracketSameLine": true,
    "overrides": [
        {
            "files": "*.html",
            "options": {
                "parser": "angular"
            }
        }
    ],
    "tailwindStylesheet": "./src/styles.css",
    "tailwindAttributes": [
        "*ClassName",
        "className",
        "clsx"
    ],
    "tailwindFunctions": [
        "clsx",
        "tw"
    ],
    "plugins": [
        "prettier-plugin-tailwindcss"
    ]
}
