<footer class="relative mt-10 min-h-[516px] bg-primary">
    <app-shade shade="footer" class="absolute inset-x-0 -top-4 lg:-top-2" />

    <div class="content p-6 text-white lg:px-20 lg:pt-20">
        <div class="grid grid-cols-2 gap-10 md:grid-cols-3 lg:grid-cols-7">
            <div class="col-span-2 md:col-span-1 lg:col-span-2">
                <h2 class="header header-3">Contact</h2>
                <p class="mt-8">
                    328 Queensberry Street, North Melbourne VIC3051, Australia.
                    <br />
                    <a href="#">hi&#64;traval.com</a>
                </p>
            </div>
            <div class="lg:col-span-2 lg:col-start-4 xl:col-span-1 xl:col-start-4">
                <h2 class="header header-3">Company</h2>
                <ul class="mt-8 flex flex-col gap-4">
                    <li>
                        <a routerLink="/about-us"> About Us </a>
                    </li>
                    <li>
                        <a routerLink="/contact-us"> Contact Us </a>
                    </li>
                    <li>
                        <a routerLink="/data-privacy"> Data Policy </a>
                    </li>
                    <li>
                        <a routerLink="/data-privacy"> Cookie Policy </a>
                    </li>
                </ul>
            </div>
            <div class="">
                <h2 class="header header-3">Support</h2>
                <ul class="mt-8 flex flex-col gap-4">
                    <li>
                        <a routerLink="/contact-us">Get in Touch</a>
                    </li>
                    <li>Help center</li>
                    <li>Live chat</li>
                </ul>
            </div>
            <div class="col-span-2 flex flex-col gap-8 md:col-span-3 md:flex-row lg:flex-col xl:col-span-2">
                <div>
                    <h2 class="header header-3">Newsletter</h2>
                    <p class="mt-8">Subscribe to the free newsletter and stay up to date</p>
                    <form (ngSubmit)="subscribe()" class="mt-4">
                        <div class="">
                            <div class="relative">
                                <app-input [(ngModel)]="email" name="email" placeholder="Enter your email" />
                                <app-button
                                    type="submit"
                                    className="absolute top-1/2 right-0 -translate-y-1/2 hover:bg-transparent hover:text-primary">
                                    Subscription
                                    <icon-send />
                                </app-button>
                            </div>
                            @if (isSubscribed()) {
                                <span class="text-xs">Thanks you for your subscribed.</span>
                            }
                            @if (error()) {
                                <span class="text-xs text-warning">{{ error() }}</span>
                            }
                        </div>
                    </form>
                </div>

                <div class="mt-10">
                    <h2 class="header header-3">Mobile Apps</h2>
                    <ul class="mt-4 flex flex-col gap-4">
                        <li class="flex items-center gap-2">
                            <icon-app-store />
                            iOS App
                        </li>
                        <li class="flex items-center gap-2">
                            <icon-google-play />
                            Android App
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="p-6 text-center text-white">&commat;Copyright 2025 Travel. All rights reserved.</div>
</footer>
