<div class="lg:mx-auto lg:max-w-330">
    <header class="flex items-center justify-between p-4 text-center">
        <div class="w-fit">
            <a routerLink="/" class="text-4xl">
                <img class="h-auto w-36" src="assets/logos/logo.png" alt="Logo" />
            </a>
        </div>

        <app-button (click)="mobileMenuToggle()" severity="outline" className="text-primary md:hidden" id="mobile-menu">
            <svg width="36" height="24" viewBox="0 0 36 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 24H36V20H0V24ZM0 14H36V10H0V14ZM0 0V4H36V0H0Z" fill="currentColor" />
            </svg>
        </app-button>

        <nav class="hidden md:block">
            <ul class="flex">
                @for (menu of menuItems(); track $index) {
                    @if (menu.hide === undefined || !menu.hide) {
                        <li class="flex">
                            <a
                                [routerLink]="menu.link"
                                routerLinkActive="bg-warning text-white"
                                [class.btn-default]="!menu.active"
                                [class.btn-primary]="menu.active"
                                class="btn font-medium">
                                @if (menu.icon) {
                                    <div [innerHTML]="menu.icon | safeHtml"></div>
                                }
                                {{ menu.label }}
                            </a>
                        </li>
                    }
                }

                @if (username()) {
                    <li class="h-full">
                        <div class="relative" #dropdown>
                            <button (click)="dropdownToggle()" class="btn btn-default font-medium hover:bg-transparent">
                                <div class="flex size-8 items-center justify-center rounded-full bg-warning text-white">
                                    {{ getFirstCharacter() }}
                                </div>
                                <span class="text-body">
                                    {{ username() }}
                                </span>
                            </button>

                            @if (profileDropdown()) {
                                <div
                                    animate.enter="fade-in"
                                    animate.leave="fade-out"
                                    class="absolute top-full right-0 z-50 mt-2 flex w-40 flex-col rounded-lg bg-secondary shadow-lg">
                                    <a
                                        routerLink="/profile"
                                        class="flex items-center justify-start gap-2 px-4 py-2 hover:rounded-t-lg hover:bg-secondary-100">
                                        <svg
                                            width="18"
                                            height="18"
                                            viewBox="0 0 24 24"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <g id="Iconly/Light/Profile">
                                                <g id="Profile">
                                                    <path
                                                        id="Stroke 1"
                                                        fill-rule="evenodd"
                                                        clip-rule="evenodd"
                                                        d="M11.9849 15.3462C8.11731 15.3462 4.81445 15.931 4.81445 18.2729C4.81445 20.6148 8.09636 21.2205 11.9849 21.2205C15.8525 21.2205 19.1545 20.6348 19.1545 18.2938C19.1545 15.9529 15.8735 15.3462 11.9849 15.3462Z"
                                                        stroke="#130F26"
                                                        stroke-width="1.5"
                                                        stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                    <path
                                                        id="Stroke 3"
                                                        fill-rule="evenodd"
                                                        clip-rule="evenodd"
                                                        d="M11.9849 12.0059C14.523 12.0059 16.5801 9.94779 16.5801 7.40969C16.5801 4.8716 14.523 2.81445 11.9849 2.81445C9.44679 2.81445 7.3887 4.8716 7.3887 7.40969C7.38013 9.93922 9.42394 11.9973 11.9525 12.0059H11.9849Z"
                                                        stroke="#130F26"
                                                        stroke-width="1.42857"
                                                        stroke-linecap="round"
                                                        stroke-linejoin="round" />
                                                </g>
                                            </g>
                                        </svg>
                                        Profile
                                    </a>
                                    <button
                                        (click)="logout()"
                                        type="button"
                                        class="flex cursor-pointer items-center justify-start gap-2 px-4 py-2 hover:rounded-b-lg hover:bg-secondary-100">
                                        <svg
                                            width="18"
                                            height="18"
                                            viewBox="0 0 80 72"
                                            fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M60 16L54.36 21.64L64.68 32H24V40H64.68L54.36 50.32L60 56L80 36L60 16ZM8 8H40V0H8C3.6 0 0 3.6 0 8V64C0 68.4 3.6 72 8 72H40V64H8V8Z"
                                                fill="currentColor" />
                                        </svg>
                                        Logout
                                    </button>
                                </div>
                            }
                        </div>
                    </li>
                }
            </ul>
        </nav>
    </header>

    @if (mobileMenuOpen()) {
        <nav animate.enter="fade-in" animate.leave="fade-out">
            <ul class="flex flex-col p-4">
                @for (menu of menuItems(); track $index) {
                    <li>
                        <a
                            [routerLink]="menu.link"
                            routerLinkActive="border-b-warning"
                            class="btn btn-default w-full justify-start rounded-none border-b border-secondary-100 font-medium">
                            @if (menu.icon) {
                                <div [innerHTML]="menu.icon | safeHtml"></div>
                            }
                            {{ menu.label }}
                        </a>
                    </li>
                }
            </ul>
        </nav>
    }
</div>
