<div [class]="getClass()">
    <img
        class="h-auto w-full max-w-full"
        [ngSrc]="imageUrl()"
        [alt]="title()"
        aria-hidden="true"
        priority
        width="278"
        height="199" />

    <div class="relative -top-4 flex h-full min-h-[190px] flex-col rounded-2.5xl bg-white px-6 py-2.5 pt-8">
        <div class="mb-2 text-sm text-dark">
            <ng-content select="card-tag">
                {{ tag() }}
            </ng-content>
        </div>
        <h3 class="header header-4 overflow-hidden text-ellipsis">
            <a [routerLink]="['/page-list/detail/', slug()]">
                {{ title() | stringlength }}
            </a>
        </h3>
        @if (price()) {
            <div class="mt-auto">
                <span class="inline-block w-full border-b border-b-secondary-100"></span>
                <div
                    class="flex flex-col-reverse items-start justify-between py-4 2xl:flex-row-reverse 2xl:items-center">
                    <app-button className="mt-4 2xl:mt-auto" [routerLink]="['/page-list/detail/', slug()]"
                                severity="primary">Book
                        now
                    </app-button>
                    <span>
                        From
                        <span class="font-bold">{{ price() | currency }}</span>
                    </span>
                </div>
            </div>
        }
    </div>
</div>
