<div [class]="getClass()">
    <img
        class="h-auto w-full max-w-full"
        [ngSrc]="imageUrl()"
        [alt]="title()"
        aria-hidden="true"
        width="278"
        height="199" />

    <div class="relative -top-4 flex h-full min-h-[190px] flex-col rounded-2.5xl bg-white px-6 py-2.5 pt-8">
        <div class="mb-2 text-sm text-dark">
            <ng-content select="card-tag">
                {{ tag() }}
            </ng-content>
        </div>
        <h3 class="header header-4 overflow-hidden text-ellipsis">
            <a [routerLink]="['/page-list/detail/', title()]">
                {{ getTitle() }}
            </a>
        </h3>
        @if (price()) {
            <div class="mt-auto">
                <span class="inline-block w-full border-b border-b-secondary-100"></span>
                <div class="flex items-center justify-between py-4">
                    <app-button [routerLink]="['/page-list/detail/', title()]" severity="primary">Book now</app-button>
                    <span>
                        From
                        <span class="font-bold">{{ price() | currency }}</span>
                    </span>
                </div>
            </div>
        }
    </div>
</div>
