<app-slider src="assets/images/home/home-slide.png" bottomClassName="bg-white">
    <div class="text-center text-white">
        <h2 class="text-6xl leading-24 font-semibold">Profile</h2>
    </div>
</app-slider>

<div class="content grid grid-cols-12 gap-10 px-4 md:px-10">
    <div class="col-span-3 rounded-xl bg-secondary-200 p-4">
        <app-user-nav />
    </div>

    <div class="col-span-9">
        <h2 class="header header-2">User Information</h2>

        @if (message() != '') {
            <div class="mt-8 bg-green-500 p-4 rounded-lg text-white font-semibold">
                {{ message() }}
            </div>
        }

        <form (ngSubmit)="updatePassword()" class="mt-8 flex flex-col gap-6" [formGroup]="form">
            <div class="flex flex-col gap-4">
                <label for="password">Current Password</label>
                <app-input formControlName="currentPassword" type="password"
                    id="password"></app-input>
                @if (isInvalid(currentPassword)) {
                    @if (currentPassword.hasError('required')) {
                        <span class="text-sm text-warning">Current password is required</span>
                    }

                    @if (currentPassword.hasError('invalid')) {
                        <span class="text-sm text-warning">Current password is invalid</span>
                    }
                }
            </div>
            <div class="flex flex-col gap-4">
                <label for="password">Password</label>
                <app-input formControlName="password" type="password" id="password"></app-input>

                @if (isInvalid(password)) {
                    @if (password.hasError('required')) {
                        <span class="text-sm text-warning">Password is required</span>
                    }
                }
            </div>
            <div class="flex flex-col gap-4">
                <label for="password">Confirm Password</label>
                <app-input formControlName="passwordConfirmation" type="password"
                    id="password"></app-input>

                @if (isInvalid(passwordConfirmation)) {
                    @if (passwordConfirmation.hasError('required')) {
                        <span class="text-sm text-warning">Current password is required</span>
                    }

                    @if (passwordConfirmation.hasError('invalid')) {
                        <span
                            class="text-sm text-warning">{{ passwordConfirmation.getError('invalid') }}</span>
                    }
                }
            </div>

            <app-button type="submit" className="w-full" severity="primary">Update Password
            </app-button>
        </form>
    </div>
</div>
