<div class="content mt-8 px-6 md:px-20 lg:px-10 xl:px-20">
    <app-hero-card className="relative text-white" bg="assets/images/bg-1.png">
        <div class="col-span-2 flex flex-col gap-4 p-4 text-center md:col-span-1 md:text-left">
            <h2 class="header header-2">
                Get 5% off your 1st <br />
                app booking
            </h2>
            <p>Booking's better on the app. Use promo code "TourBooking" to save!</p>

            <div class="">
                <div class="md:mt-6">
                    <span>Get a magic link sent to your email</span>
                    <form [formGroup]="fb">
                        <div class="mt-3 flex flex-col gap-2 md:items-center lg:flex-row">
                            <app-input
                                [className]="
                                        clsx({
                                            invalid: email.invalid && (email.touched || email.dirty) && email.errors,
                                        })
                                    "
                                formControlName="email"
                                class="w-full"
                                placeholder="Email" />
                            <app-button (btnClick)="sendEmail()" severity="primary"
                                className="rounded-xl px-8">
                                Send
                            </app-button>
                        </div>

                        <div class="mt-2">
                            @if (email.invalid && (email.touched || email.dirty) && email.errors) {
                                @if (email.errors['required']) {
                                    <span class="text-white">Email is required.</span>
                                }
                                @if (email.errors['email']) {
                                    <span
                                        class="text-white">Email must be a valid email format.</span>
                                }
                            }
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-span-2 mt-auto md:col-span-1">
            <img class="w-full" ngSrc="assets/images/home/discounts/mobile.png" alt=""
                height="484" width="645" />
        </div>
    </app-hero-card>
</div>
