/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

@theme {
    --color-body: #05073C;
    --color-primary: #4A43C4;
    --color-warning: #EB662B;
    --color-secondary: #FEF7F4;
    --color-secondary-100: #E7E6E6;
    --color-secondary-200: #EFF7F1;
    --color-dark: #717171;

    --radius-2\.5xl: 1.25rem;
}

@layer base {
    body {
        @apply text-sm;
        font-family: "Inter", "Poppins", sans-serif;
    }
}


@layer components {

    .header {
        @apply font-bold ;

        &.header-2 {
            @apply leading-6 md:leading-8 lg:leading-11;
            font-size: clamp(1rem, 2.5vw, 3.5rem);
        }

        &.header-3 {
            @apply text-xl leading-6;
        }

        &.header-4 {
            @apply text-base leading-6;
        }
    }

    .content {
        @apply max-w-[1350px] mx-auto;
    }

    .btn {
        @apply inline-flex gap-2 items-center rounded-full px-6 py-3 cursor-pointer justify-center;
        font-size: clamp(0.75rem, 1vw, 0.875rem);

        &.btn-primary {
            @apply bg-primary text-white;

            &:hover {
                @apply bg-warning text-white;
            }
        }

        &.btn-default {
            @apply bg-transparent text-body;

            @variant hover {
                @apply bg-warning text-white;
            }
        }

        &.btn-outline {
            @apply bg-transparent text-body p-0;
        }

        &.btn-warning {
            @apply bg-warning text-white;
        }

        &.btn-light {
            @apply bg-white text-warning;

            &:hover {
                @apply bg-warning text-white;
            }
        }

    }


    .form-input {
        @apply appearance-none border border-secondary-100 rounded-xl h-12 w-full bg-white px-4 caret-warning text-dark font-medium;

        @variant focus {
            @apply outline-none ring-0 ring-warning;
        }

        @variant invalid {
            @apply border-warning;
        }

        @variant placeholder {
            @apply text-dark/35;
        }

    }

    .form-check {
        @apply size-5;
    }

    .separate {
        @apply border-b border-secondary-100;
    }

    .dot {
        @apply inline-block size-6 rounded-full max-w-6 min-w-6;
    }

    .line-step {
        @apply flex gap-3 relative pb-12;

        &:not(:last-child)::after {
            content: '';
            @apply w-px border border-dashed border-warning absolute inset-y-0 left-2.5 z-20;
        }
    }

    .fade-in {
        animation: fadeIn 0.5s ease-in-out;
        animation-duration: 0.3s;
    }

    .fade-out {
        animation: fadeOut 0.5s ease-in-out;
        animation-duration: 0.3s;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
