@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

@theme {
    --color-body: #05073c;
    --color-primary: #4a43c4;
    --color-warning: #eb662b;
    --color-secondary: #fef7f4;
    --color-secondary-100: #e7e6e6;
    --color-secondary-200: #eff7f1;
    --color-dark: #717171;

    --radius-2\.5xl: 1.25rem;
}

@layer base {
    body {
        @apply text-sm;
        font-family: 'JetBrains Mono', 'Inter', 'Poppins', sans-serif;
    }
}

@layer components {
    .header {
        @apply font-bold;

        &.header-2 {
            @apply leading-6 md:leading-8 lg:leading-11;
            font-size: clamp(1rem, 2.5vw, 3.5rem);
        }

        &.header-3 {
            @apply text-xl leading-6;
        }

        &.header-4 {
            @apply text-base leading-6;
        }
    }

    .content {
        @apply mx-auto max-w-[1350px];
    }

    .btn {
        @apply inline-flex cursor-pointer items-center justify-center gap-2 rounded-full px-6 py-3;
        font-size: clamp(0.75rem, 1vw, 0.875rem);

        &.btn-primary {
            @apply bg-primary text-white;

            &:hover {
                @apply bg-warning text-white;
            }
        }

        &.btn-default {
            @apply bg-transparent text-body;

            @variant hover {
                @apply bg-warning text-white;
            }
        }

        &.btn-outline {
            @apply bg-transparent p-0 text-body;
        }

        &.btn-warning {
            @apply bg-warning text-white;
        }

        &.btn-light {
            @apply bg-white text-warning;

            &:hover {
                @apply bg-warning text-white;
            }
        }
    }

    .form-input {
        @apply h-12 w-full appearance-none rounded-lg border border-secondary-100 bg-white px-4 font-medium text-dark caret-warning;

        @variant focus {
            @apply ring-0 ring-warning outline-none;
        }

        @variant invalid {
            @apply border-warning;
        }

        @variant placeholder {
            @apply text-dark/35;
        }
    }

    .form-check {
        @apply size-5;
    }

    .form-select {
        .form-select-dropdown {
            .form-select-item {
                @apply px-4 py-2;

                &:hover {
                    @apply bg-gray-300;

                    &:first-child:hover {
                        @apply rounded-t-lg;
                    }

                    &:last-child:hover {
                        @apply rounded-b-lg;
                    }
                }
            }
        }
    }

    .separate {
        @apply border-b border-secondary-100;
    }

    .dot {
        @apply inline-block size-6 max-w-6 min-w-6 rounded-full;
    }

    .line-step {
        @apply relative flex gap-3 pb-12;

        &:not(:last-child)::after {
            content: '';
            @apply absolute inset-y-0 left-2.5 z-20 w-px border border-dashed border-warning;
        }
    }

    .fade-in {
        animation: fadeIn 0.5s ease-in-out;
        animation-duration: 0.3s;
    }

    .fade-out {
        animation: fadeOut 0.5s ease-in-out;
        animation-duration: 0.3s;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
